.lottery-header,.lottery-header-back  {
    height: 0.8rem;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
}
.lottery-header div,.lottery-header-back div {
    height: 100%;
    font-size: 0.3rem;
    line-height: 0.8rem;
    text-align: center;
}
.lottery-header img {
    position: absolute;
    right: 0.34rem;
    top: 0.18rem;
    width: 0.4rem;
    height: 0.4rem;
}
.lottery-header-back img {
    position: absolute;
    left: 0.28rem;
    top: 0.28rem;
    width: 0.24rem;
    height: 0.24rem;
}